:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-student {
  display: inline-block;
  border: 1px solid blue;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
}

.card-mapel {
  border: 1px solid blue;
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
}